@import "../base/style"

.communities
  min-height: calc(100vh)
  height: auto
  .box-index.card
    border: 0
    border-bottom: 1px solid $silvery
    .card-body
      padding-left: 0 !important
      padding-right: 0 !important
      &.bg-card
        display: flex
        vertical-align: middle
        align-items: center
        justify-content: center
        background-color: $offwhite !important
        height: calc(30vh)
      img
        position: absolute
        width: auto
        height: calc(80%)
        z-index: 1
      .card-title
        display: flex
        width: 100%
        min-height: calc(10vh)
        height: auto
        z-index: 10
        background-color: $dark-transparent
        justify-content: center
        align-items: center
        color: $white
        &:hover
          background-color: $navy-transparent

  .tabs-communities
    font-size: 10% !important
    margin: 10px

  .show-community
    .breadcrumb
      background-color: $navy
      margin-bottom: 0
      font-size: 1.1rem

    .community-networks-section
      display: flex
      justify-content: center
      height: 50px
      i
        margin-left: 5px
        img
          height: 40px

        .link-svg
          &:hover
            filter: invert(0%) sepia(1%) brightness(80%)

  .new-community
    .breadcrumb
      background-color: $navy
      margin-bottom: 0
      font-size: 1.1rem

  .bg-bar-community
    width: auto
    height: auto
    padding: 10px 0
    background-color: $navy

  .link-community
    color: $dark
    &:hover
      color: $navy

  form
    &.simple_form
      .form-group
        input
          width: 100% !important
        textarea
          width: 100%
        select
          width: 100%
