@import "../base/style"

// Stylesheet Main

body
  @include font-size($font-size-base)
  font-weight: 400
  font-family: $font-family-base
  color: $black-soft
    
@font-face
  font-family: 'Roboto-Black', 'Righteous-Regular'
  src: url('fonts/Righteous-Regular.ttf')
  src: url('fonts/Roboto-Regular.ttf')
