@import "../base/style"
.sites
  min-height: calc(100vh)
  height: auto
  .box-index.card
    border: 0
    border-bottom: 1px solid $silvery
    .card-body
      padding-left: 0 !important
      padding-right: 0 !important
      &.bg-card
        display: flex
        vertical-align: middle
        align-items: center
        justify-content: center
        background-color: $offwhite !important
        height: calc(30vh)
      img
        position: absolute
        width: auto
        height: calc(80%)
        z-index: 1
      .card-title
        display: flex
        width: 100%
        min-height: calc(10vh)
        height: auto
        z-index: 10
        background-color: $dark-transparent
        justify-content: center
        align-items: center
        color: $white
        &:hover
          background-color: $red-transparent

  .tab-sites
    // font-size: 10% !important
    background-color: lighten($dark, 20)

  .show-site
    .breadcrumb
      background-color: $red
      margin-bottom: 0
      font-size: 1.1rem

    frame
      border-width: inherit !important

    .site-networks-section
      display: flex
      justify-content: center
      height: 50px
      i
        margin-left: 5px
        img
          height: 40px
  .new-site
    .breadcrumb
      background-color: $red
      margin-bottom: 0
      font-size: 1.1rem

  .bg-bar-site
    width: auto
    height: auto
    background-color: $red
    padding: 10px 0

  .link-site
    color: $dark
    &:hover
      color: $red

  form
    input
      width: 100%
    textarea
      width: 100%
    select
      width: 100%
