.m.index-events
  .bg-bar-event
    .container.d-flex.justify-content-between.mt-2
      %h1.d-flex.align-items-center= link_to t('base.events'), events_path, alt: 'index events', class: 'link-white'
      %h2.d-flex.align-items-center
        %em.link-white.fa.fa-calendar-alt.mr-2
        %em= link_to t('event.register_a_event'), new_event_path, class: 'link-white'
  %p#notice= notice

  .d-flex.justify-content-center
    %ul#tabSites.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#all-tab.nav-link.active{"aria-controls" => "all", "aria-selected" => "true", "data-toggle" => "tab", :href => "#all", :role => "tab", class: 'link-event'} Todos
      %li.nav-item
        %a#category-tab.nav-link{"aria-controls" => "category", "aria-selected" => "false", "data-toggle" => "tab", :href => "#category", :role => "tab", class: 'link-event'} Categorías
      %li.nav-item
        %a#comunas-tab.nav-link{"aria-controls" => "comunas", "aria-selected" => "false", "data-toggle" => "tab", :href => "#comunas", :role => "tab", class: 'link-event'} Comunas

  #tabSitesContent.tab-content
    #all.tab-pane.fade.show.active{"aria-labelledby" => "all-tab", :role => "tabpanel"}
      .container
        - @events.each do |event|
          .box-index.card.p-2.mt-4
            %blockquote.blockquote.mb-0
              .card-body.bg-card
                = image_tag "base/elements_svg/undraw_festivities_tvvj.svg", width: '50%'
                =link_to event.name, event, class: 'card-title'
              %footer
                .text-right temática 1, temática 2...

    #category.tab-pane.fade{"aria-labelledby" => "category-tab", :role => "tabpanel"} ...
    #comunas.tab-pane.fade{"aria-labelledby" => "comunas-tab", :role => "tabpanel"} ...
