#tabEventsContent.tab-content
  #all.tab-pane.fade.show.active{"aria-labelledby" => "all-tab", :role => "tabpanel"}
    .content.col-12
      - @events.each do |event|
        .box-index.card.p-2.mt-4
          %blockquote.blockquote.mb-0
            .card-body.bg-card
              = image_tag "base/elements_svg/undraw_festivities_tvvj.svg", width: '50%'
              =link_to event.name, event, class: 'card-title'
            %footer
              .text-right temática 1, temática 2...

  #category.tab-pane.fade{"aria-labelledby" => "category-tab", :role => "tabpanel"} ...
  #comunas.tab-pane.fade{"aria-labelledby" => "comunas-tab", :role => "tabpanel"} ...
