/ Footer
%footer
  .maul-footer
    .maul-footer--logo
      = link_to (image_tag 'base/maul_logo_red_blur.png'), '/'
    .footer-title.text-center
      MAUL PROJECT
    .footer-text.text-center
      = link_to  'Sobre el proyecto', '#', class: 'link-white'
      |
      = link_to 'Términos y Condiciones', '#', class: 'link-white'
    -# .footer-text.text-center.row
      .col-6.text-right
        Sobre el proyecto
      .col-6.text-left
        Términos y Condiciones
    .col-12.text-center
      .footer-text
        Developed By:
        %a{:href => "https://github.com/SamZapata", :target => "_blank", class: 'link-red'} @samzapata
