/ Footer
%footer
  .panel-footer
    .row
      .container.col-lg-4
        %h5.menu-header MAUL PROJECT
        %span
          %a.social-footer.social-icon{:href => "#", :target => "_blank"}
            %i.fa.fa-facebook
          %a.social-footer.social-icon{:href => "#", :target => "_blank"}
            %i.fa.fa-twitter
      .container.col-lg-4
        %h6.footer-text Sobre el proyecto:
        %a{:href => "/project/about"}
          %h6 ¿Que es Maul Project?
        %a{:href => "/project/information"}
          %h6 ¿Como Surge?
      .container.col-lg-4
        %h6.footer-text Recursos:
        %a{:href => "/project/terms-of-services"}
          %h6 Terminos Y Condiciones de Uso
        %a{:href => "#"}
          %h6 Proyección
    .container.col-lg-12.text-center
      %h6
        Developed By:
        %a{:href => "https://github.com/SamZapata", :target => "_blank"} @samzapata
