- client = DeviceDetector.new(request.user_agent)
- type = client.device_type == 'smartphone' ? 'smartphone' : 'base'

.sites
  .new-site
    -# = render "sites/#{type}/new"
    %nav{"aria-label" => "breadcrumb"}
      .bg-bar-site
        .container
          %ol.breadcrumb
            %li.breadcrumb-item
              %a.link-white{:href => "/"}
                %i.fas.fa-home
            %li.breadcrumb-item
              %a.link-white{:href => sites_path}= t('base.sites')
            %li.breadcrumb-item.active{"aria-current" => "page"}= @site.name.capitalize

    - if user_signed_in? && current_user == @site.user
      = render 'form'
    - else
      .container
        %br
        %h2.text-center
          Eres el creador de este sitio?
